<footer>
	<p>
		<small>&copy; <span id="yearRange"></span>, Isaac Halvorson</small>
	</p>
	<p>
		<small>
			<a href="mailto:<%= config.email %>" alt="<%= config.email %>">email</a> •
			<a href="https://twitter.com/<%= config.twitter %>" alt="@<%= config.twitter %> on Twitter">twitter</a> •
			<a href="https://github.com/<%= config.github %>" alt="<%= config.github %> on GitHub">github</a> •
			<a href="" alt="The <%= config.title %> RSS feed">rss</a>
		</small>
	</p>

	<script type="text/javascript">
		document.getElementById("yearRange").innerHTML = "2008–" + new Date().getFullYear();
	</script>
</footer>
