<footer>
	<p>
		<small>
			<a href="mailto:<%= config.email %>" alt="<%= config.email %>">Email</a> •
			<a href="https://twitter.com/<%= config.twitter %>" alt="@<%= config.twitter %> on Twitter">Twitter</a> •
			<a href="https://github.com/<%= config.github %>" alt="<%= config.github %> on GitHub">GitHub</a> •
			<a href="/feed.xml" alt="The <%= config.title %> RSS feed">RSS</a> •
			<a href="/feed.json" alt="The <%= config.title %> JSON feed">JSON Feed</a>
		</small>
	</p>

	<p>
		<small>&copy; <span id="yearRange"></span>, Isaac Halvorson</small>
	</p>

	<script type="text/javascript">
		document.getElementById("yearRange").innerHTML = "2008–" + new Date().getFullYear();
	</script>
</footer>
